*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;

}
body{
    
 background-color: azure;
 border:none;

}
.container{
   
    
    position:absolute;
    top:50%;
    left:50%;
    width:1000px;
    height:600px;
    transform:translate(-50%,-50%);
    background: whitesmoke;
    box-shadow:0px 30px 50px #dfd5d5;
    
}

.container .slide .item{
    width:200px;
    height:300px;
    position:absolute;
    top:50%;
    transform:translate(0,-50%);
    border-radius:25px;
    box-shadow:0px 30px 50px rgb(96, 102, 102);
    background-position:50% 50%;
    background-size:cover; 
    display:inline-block;
    transition:0.5s;
    
   

}

@keyframes card{
    from{
        transform: translateY(-120px);
    }
    to{transform:translateY(-150px);
    }
}

.slide .item:nth-child(1),.slide .item:nth-child(2){
    top:0;
    left:0;
    transform:translate(0,0);
    border-radius:0;
    height:100%;
    width:100%;
    

}
.slide .item:nth-child(3){
     left:50%;
     animation: card 2s alternate-reverse infinite ;
     box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.589) ;
     

}

.slide .item:nth-child(4){
    left:calc(50% + 220px);
     animation: card 2s alternate-reverse infinite ;
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.589) ;
}

.slide .item:nth-child(5){
    left:calc(50% + 440px);
     animation: card 2s alternate-reverse infinite ;
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.589) ;
}

.slide .item:nth-child(n + 6){
    left:calc(50% + 660px);
     animation: card 2s alternate-reverse infinite ;
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.589) ;
      opacity: 0;
}

.item .content{
    position:absolute;
    top:30%;
    left:100px;
    width:300px;
    transform: translate(0,-50%);
    
    padding-left:25px;
    display:none;

}
.content .name{
    font-size: 50px;
    font-weight: bold;
    margin-top:30px;
    text-transform: uppercase;
    color:white;
    opacity: 0;
    animation:animate 2s ease-in-out 1 forwards;

}

.slide .item:nth-child(2) .content{
    display:block;
}
.content .desc{
    padding-top:20px;
    margin-top:10px;
    margin-bottom: 20px;
    color:white;
    opacity: 0;
    animation:animate 1s ease-in-out 1 forwards;


}
.showmore{
    margin-top: 20px;
    border-radius: 25px;
    padding: 5px;
     box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.556);


    font-weight: 400;
    font-size: 15px;
    opacity: 0;
    
    animation:animate 1s ease-in-out 1 forwards;
}


@keyframes animate{
    from{
        opacity: 0;
        transform: scale(5px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: scale(0px);
        filter:blur(0);
    }
}

.btn{
    background-color:rgba(240, 248, 255, 0.023);
    justify-content: center;
    text-align: center;
    height:40px;
    width:120px;
    position: absolute;
    bottom: 0%;
    left:50%;
    display: flex;
    gap: 10px;
    

}
.prev, .next {
    cursor: pointer;
    background: transparent;
    border: none;
}


   


.box:hover{

   background-color: #5a5454;
   color:#dfd5d5;
box-shadow: 0px 15px 15px rgb(132, 125, 125);
}
