
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
section{
    position:relative;
    min-height: 100vh;
    width:100%;
    background-color: rgb(14, 14, 59);
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    perspective: 1000px;
}
section::before{
    content:"";
    position:absolute;
    height:240px;
    width:240px;
    border-radius: 50%;
    transform:translate(-150px,-100px);
    background: linear-gradient(90deg,rgba(228, 10, 166, 0.808),rgb(233, 224, 224));

}

section::after{
    content:"";
    position:absolute;
    height:240px;
    width:240px;
    border-radius: 50%;
    transform: translate(150px,100px);
    background: linear-gradient(90deg,rgba(228, 10, 166, 0.808),rgb(233, 224, 224));

}
.container{
 
    height:225px;
    width:375px;
  
    position:relative;
    z-index: 100;
    transform-style: preserve-3d;
  
    transition: 0.6s;



}
.container .card{

    position: absolute;
    height:100%;
    width:100%;
    border-radius: 20px;
    backdrop-filter: blur(25px);
    background-color: rgba(220, 218, 218, 0.26);
    box-shadow: 0 25px 45px rgb(0,0,0,0.25);
    backface-visibility: hidden;
    z-index: 100;
  
}
.container:hover{
    transform: rotateY(180deg);
    

}

.front-face header,.front-face .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.front-face .logo img{
    width:48px;
    margin:10px;
}

h5{
    font-size: medium;
    color: aliceblue;
}
.front-face .chip{
    width:48px;

    border-radius: 10px;
    

}
.card-details{
    color: aliceblue;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 40px ;
}
h6{
    font-size: 10px;
    font-weight: 400;

}
h5.number{
    font-size: 18px;
    letter-spacing: 1px;
}

h5.name{
 margin-top:10px;
 font-weight: 400;
}
.card.back-face{
    border:none;
    padding:20px;
    transform: rotateY(180deg);
}

.card.back-face h6{
    color: aliceblue;
    font-size:8px;
}
.card.back-face .magnetic-strip{
    position:absolute;
    top:60px;
    left:0px;
    height:35px;
    background-color:black;
    width:100%;
}
.card.back-face .sign{

    display:flex;
    justify-content: flex-end;
    margin:60px 15px ;
    align-items:center;
    height:40px;
    background-color:white;
    width:75%;
    border-radius: 5px;
    background:repeating-linear-gradient(#fff,#fff 3px,#efefef 0px,#efefef 9px);
    
}
.sign i{
    color:purple;
    margin-right:-25px;
    
    font-size: 15px;
    background-color: aliceblue;
    border-radius: 5px;
    padding:4px 2px;
    
    z-index:-1
    
}
.card.back-face h5{
    font-size: 12px;
    font-weight: 100;
    margin-top: -55px;
    text-align: center;
    margin-left:15px;
}