*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
     background: linear-gradient(rgb(93, 13, 93) , rgba(235, 233, 233, 0.847));

}
h1{
    color:white;
    text-align: center;
    padding:10px 0px 50px ;
    font-size: 60px;
}
.choices{
    margin: 50px;
    display:flex;
    justify-content: center;
    gap:50px;
    
}
.choice{
   
    height:100px;
    width:100px;
    background-color: rgb(8, 8, 115);
    border-radius:150px;
    box-shadow: 0px 15px 15px 0px rgb(9, 9, 64);
}
.choice:hover{
    
    box-shadow:0px 25px 25px 25px 
    rgb(16, 16, 64);

}
img{
    padding-top:10px;
height: 100px;
width: 100px;
border-radius: 50%;
object-fit: cover;
}

.scoreboard{
  
    
    display: flex;
    align-items:center;
    justify-content: center;
    gap:100px;
    font-size: 30px;
    
}
#user-score,#comp-score{
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
}


.msg-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
#msg{
    background-color: rgba(25, 5, 66, 0.949);
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    margin-top:50px;
    display: inline;
    padding: 20px;
    border-radius: 20px;
}